<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>YourChatWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>de.yovi.chat.web.Configurator</listener-class>
  </listener>
  <servlet>
    <servlet-name>Listener</servlet-name>
    <servlet-class>de.yovi.chat.web.ListenerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listener</servlet-name>
    <url-pattern>/listen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Action</servlet-name>
    <servlet-class>de.yovi.chat.web.ActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Message</servlet-name>
    <servlet-class>de.yovi.chat.web.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Input</servlet-name>
    <servlet-class>de.yovi.chat.web.InputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Input</servlet-name>
    <url-pattern>/input</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Data</servlet-name>
    <servlet-class>de.yovi.chat.web.DataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Data</servlet-name>
    <url-pattern>/data/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Session</servlet-name>
    <servlet-class>de.yovi.chat.web.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
</web-app>